.head{
    width: 100%;
    height:1100px;
    background-color: #292E36;
}
.head_header{
    width: 100%;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.head_buttons{
    background-color: #E1B168;
    color: #292E36;
    height: 65px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px #292E36 solid;
    transition: 0.5s;
}
.head_buttons:hover{
    background-color: #292E36;
    color: #E1B168;
    border: 2px #E1B168 solid;
    transition: 0.5s;
}


*{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px
}


.head_links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width:100%
}
.head_text_box{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    width:700px;
}
.head_text{
    color: white;
    transition: 0.5s;
}
.head_text:hover{
    color: #E1B168;
    transition: 0.5s;
}
.head_icons{
    height: 70px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.head_main{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.head_main_text{
    height: 700px;
    width: 600px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}
.head_main_text_up{
    font-size: 100px;
    font-family: 'Cormorant Infant', serif;
    line-height: 1.2;
    margin: 10px;
}
.head_main_text_down{
    font-size: 19px;
    margin: 10px;
    line-height: 1.7;
}
.head_img{
    height: 800px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}



.first{
    width: 100%;
    height: 1000px;
    background-color: #FFF8F5;
}
.first_header{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.first_header_elem{
    height: 100px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.first_header_text{
    width: 300px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.first_header_text_up{
    font-size: 30px;
    font-family: 'Cormorant Infant', serif;
}
.first_header_text_down{
    color: black;
    font-size: 19px;
}
.first_main{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.first_main_text{
    height: 550px;
    width: 700px;
    display: flex;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
}
.first_main_text_story{
    width: 700px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.main_text_up{
    font-size: 50px;
    font-family: 'Cormorant Infant', serif;
}
.main_text_down{
    font-size: 22px; 
    line-height: 1.5;
}
.first_main_text_year{
    width: 700px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.first_main_text_year_in{
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.third{
    width: 100%;
    height: 2000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.third_menu{
    width: 70px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.third_menu_line{
    width: 65px;
    height: 2px;
    background-color: #E1B168;
}
.third_main{
    width: 100%;
    height: 1600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.third_main_left{
    width: 700px;
    height: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}
.third_main_left_text{
    width: 600px;
    height: 170px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.third_main_right{
    width: 900px;
    height: 1600px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}
.third_buttons{
    background-color: #E1B168;
    color: white;
    height: 70px;
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px white solid;
    transition: 0.5s;
}
.third_buttons:hover{
    background-color: white;
    color: #E1B168;
    border: 2px #E1B168 solid;
    transition: 0.5s;
}
.third_main_right_text1{
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.third_main_right_text2{
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-end;
}
.third_main_right_text{
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}
.third_main_text{
    font-size: 40px; 
    font-family: 'Cormorant Infant', serif;
}
.grey_line{
    height: 2px;
    width: 300px;
    margin: 10px;
    background-color: #AAAAAA;
}
.third_main_right_text3{
    width: 1000px;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.fourth{
    width: 100%;
    height: 1500px;
    display: flex;
    background-color: #292E36;
    color: white;
    justify-content: center;
    flex-direction: column;
}
.fourth_testimonial{
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.fourth_testimonial_line{
    width: 65px;
    height: 2px;
    background-color: #E1B168;
}