.head{
    width: 100%;
    height:1100px;
    background-color: #292E36;
}
.head_header{
    width: 100%;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.head_buttons{
    background-color: #E1B168;
    color: #292E36;
    height: 50px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px #292E36 solid;
    transition: 0.5s;
}
.head_buttons:hover{
    background-color: #292E36;
    color: #E1B168;
    border: 1px #E1B168 solid;
    transition: 0.5s;
}
*{
    font-family: 'Josefin Sans', sans-serif;
}
.head_links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width:100%
}
.head_text_box{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    width:700px;
}
.head_text{
    color: white;
    transition: 0.5s;
}
.head_text:hover{
    color: #E1B168;
    transition: 0.5s;
}
.head_icons{
    height: 70px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.head_main{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.head_main_text{
    height: 700px;
    width: 600px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}
.main_text_upper{
    font-size: 100px;
    font-family: 'Cormorant Infant', serif;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.2;
    margin: 10px;
}
.main_text_lower{
    font-size: 19px;
    margin: 10px;
    line-height: 1.7;
}
.head_img{
    height: 800px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}



.first{
    width: 100%;
    height: 1000px;
    background-color: #FFF8F5;
}
.first_header{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.first_header_elem{
    height: 100px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.first_header_text{
    width: 300px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.first_header_text_up{
    font-size: 25px;
    font-family: 'Cormorant Infant', serif;
    font-family: 'Josefin Sans', sans-serif;
}
.first_header_text_down{
    color: black;
}
.first_main{
    height: 700;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.first_main_text{
    height: 700px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}